*{
    margin: 0px;
    padding: 0px;
}

#logo {
    position: relative;
    transform: translateY(30px);
    height: 700px;
    width: 700px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #FFEECD, #A5EAFF);
}

a{
    text-decoration: none;
    color: #754A27;
}

header{
    position: absolute;
    width: 90%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: left;
    list-style: none;
}

header ul li{
    margin-left: 30px;
    padding: 10px;
    font-weight: bold;
    transition: transform 0.23s ease-in-out;
    position: relative;
}

header ul li:hover{
    transform: translateY(-4px);
}

header ul li a:hover, .active {
    color:#d54444;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top, #DFA44E, transparent);
}

#clouds{
    position: absolute;
    margin-right: 200px;
}

.nubes{
    animation: slideInRight 70s linear;
}

@keyframes slideInRight{
    from {
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0px);
    }
}

#sun{
    height: 280px;
    width: 280px;
    translate: -720px -320px;
}

.sol{
    animation: rotation infinite 50s linear;
}

@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

div{
    background-color: #DFA44E;
}

.content{
    color: white;
    padding: 30px;
}